
<div class="front-class">
	<div class="fifth-class">
    <div class="row">

    <div style="" class="col-sm-3 order_sum">
      <div class="justify-content-center ">
        
          <div class="card border-secondary rounded" style="">
            <h3 class="text-muted">Order Summery</h3>
            <div class="card-body">
               <ul class="list-group mb-3" >

            <li *ngFor="let order of OrderSummery" class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <p class="my-0">{{order.p_name | titlecase}} ({{order.quantity}})</p>
                
              </div>
              <p class="text-muted">Rs. {{order.discount_price}}</p>
            </li>
            
            <hr>
            <li class="list-group-item d-flex justify-content-between">
              <p>Order Total</p>
              <p><strong>Rs. {{Total}}</strong></p>
            </li>
      </ul>
            </div>
          </div>
    </div>
	</div>

   <div style="" class="col-sm billing_info">
    <div class="">
          <form [formGroup]="checkoutForm" (ngSubmit)="Submit()">
    
        <div class="mb-3 form-group">
         
          <label style="float: left;" for="address">Address</label>
          <input formControlName="shipping_addr" type="text" class="form-control" id="address" placeholder="8, city center, science city road, ahmedabad" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

  
        <hr class=" ">
        <button style="background: #00DBD0; font: normal normal 600 18px/22px Libre Baskerville; color: #FFFFFF;" class="btn btn-outline-ligh btn-sm btn-block" type="submit" 
        >Place your Order</button>


        <button class="btn btn-outline-ligh" (click)="payy(300)">Buyy</button>


      </form> 

</div>
  </div>



<!-- <script src="https://checkout.stripe.com/checkout.js"></script> -->

<script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="pk_test_51HgUIAE6HZ2spzZbur7T9XS40mmCNzq1n7yqzzKEvhFmiS8FgKQJlYBC5Xlcfllkg1yCGvWeGXFnZ6EfzLX41qQx00gRzx7ZmM"
    data-name="Custom t-shirt"
    data-description="Your custom designed t-shirt"
    data-amount="600"
    data-currency="inr">
  </script>