
<div class="front-class">
	<div class="fifth-class">
    <div class="row">
      <div style="" class="col-sm address-data">
          <div class="">
              <div class="card border-secondary rounded" style="">
                <h3 class="text-muted">Address Summery</h3>
                <div class="row card " *ngFor="let address of Addresses" >
              <div class=" col-sm card-body">
             <span class="badge badge-secondary" >Default</span>
                <p>{{address.addr_line1 | titlecase}} </p>
                <p> {{address.addr_line2 | titlecase}}</p>
                <p class="">{{address.city | titlecase}}</p>
                <p class="">{{address.country | titlecase}}</p>
                <p class="">Phone: {{address.phone}}</p>
              </div>
            </div>
            <div class="btn-group ">
            <button type="button" class="btn btn-primary" (click)="addrBtn()">
            Add Address + 
            </button>
            <button type="button" class=" btn btn-primary" (click)="addrBtn()">
            Change Default 
            </button>
          </div>
              </div>

        </div>
      </div>

      <div class="col-sm-4 card-data">
      <div class="justify-content-center ">
          <div class="card border-secondary rounded">
            <h3 class="text-muted">Card Details</h3>
            <div class="row card " *ngFor="let card of Cards" >
          <div class="data col-sm card-body">
            <span class="badge badge-secondary" >Default</span>
            <p>Card Brand : {{card.card_brand | titlecase}} </p>
            <p>Last 4 digits:  {{card.last4 }}</p>
           
          </div>
        </div>
        <div class="btn-group ">
         <button type="button" class="btn btn-primary" (click)="cardBtn()">
            Add Card + 
            </button>
             <button type="button" class="btn btn-primary" (click)="cardBtn()">
            Change Default
            </button>
          </div>
          </div>
    </div>
  </div>
</div>

<div class="row">

        <div style="" class="col-sm-4 order_sum">
      <div class="justify-content-center ">
        
          <div class="card border-secondary rounded" style="">
            <h3 class="text-muted">Order Summery</h3>
            <div class="card-body">
               <ul class="list-group mb-3" >

            <li *ngFor="let order of OrderSummery" class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <p class="my-0">{{order.p_name | titlecase}} ({{order.quantity}})</p>
                
              </div>
              <p class="text-muted">₹ {{Total}}</p>
            </li>
            
            <hr>
            <li class="list-group-item d-flex justify-content-between">
              <p>Order Total</p>
              <p><strong>₹ {{Total}}</strong></p>
            </li>
      </ul>
            </div>
          </div>
    </div>
  </div>


   <div style="" class="col-sm billing_info">
    <div class="">
          <form [formGroup]="checkoutForm" (ngSubmit)="Submit()">   
          <div class="mb-3 form-group">        
            <label style="float: left;" for="currency">currency</label>
            <input formControlName="currency" type="text" class="form-control" id="address" placeholder="inr" required>
            <div class="invalid-feedback">
              Please enter your currency.
            </div>
        </div>  
        <hr class=" ">
        <button style="background: #00DBD0; font: normal normal 600 18px/22px Libre Baskerville; color: #FFFFFF;" class="btn btn-outline-ligh btn-sm btn-block" type="submit" 
        >Place your Order</button>
       
      </form> 

</div>
  </div>
</div>
</div></div>



      
<!-- 
<script src="https://checkout.stripe.com/checkout.js"></script> -->

<!-- <script
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="pk_test_51HgUIAE6HZ2spzZbur7T9XS40mmCNzq1n7yqzzKEvhFmiS8FgKQJlYBC5Xlcfllkg1yCGvWeGXFnZ6EfzLX41qQx00gRzx7ZmM"
    data-name="Custom t-shirt"
    data-description="Your custom designed t-shirt"
    data-amount="600"
    data-currency="inr">
  </script>
 <h3 class="d-flex justify-content-center pb-5" style="margin: 100px 50px 50px 50px;" > Please Do Payment </h3>
<div class="d-flex justify-content-center">
  <form [formGroup]="stripeForm" class="mb-5" (ngSubmit)="buy()" >
    <div class="form-group">
      <input type="text" class="form-control" formControlName="name" required
      placeholder="Name">
      <span class="text-danger" *ngIf="stripeForm.get('name').hasError('required') && submitted">Required</span>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="addr1" required="" placeholder="101 star plaza">
      <span class="text-danger" *ngIf="stripeForm.get('addr1').hasError('required') && submitted">Required</span>
    </div>
        <div class="form-group">
      <input type="text" class="form-control" formControlName="addr2" required="" placeholder="city road">
      <span class="text-danger" *ngIf="stripeForm.get('addr2').hasError('required') && submitted">Required</span>
    </div>
        <div class="form-group">
      <input type="text" class="form-control" formControlName="city" required="" placeholder="City">
      <span class="text-danger" *ngIf="stripeForm.get('city').hasError('required') && submitted">Required</span>
    </div>
        <div class="form-group">
      <input type="text" class="form-control" formControlName="state" required="" placeholder="State">
      <span class="text-danger" *ngIf="stripeForm.get('state').hasError('required') && submitted">Required</span>
    </div>
        <div class="form-group">
      <input type="text" class="form-control" formControlName="country" required="" placeholder="Country">
      <span class="text-danger" *ngIf="stripeForm.get('country').hasError('required') && submitted">Required</span>
    </div>
        <div class="form-group">
      <input type="number" class="form-control" formControlName="postal_code" required="" placeholder="Postal_code">
      <span class="text-danger" *ngIf="stripeForm.get('postal_code').hasError('required') && submitted">Required</span>
    </div>
        <div class="form-group">
      <input type="phone" class="form-control" formControlName="phone" required="" placeholder="Phone">
      <span class="text-danger" *ngIf="stripeForm.get('phone').hasError('required') && submitted">Required</span>
    </div>
    <div class="form-group">
      <input type="number" class="form-control" formControlName="amount" required="" placeholder="Amount">
      <span class="text-danger" *ngIf="stripeForm.get('amount').hasError('required') && submitted">Required</span>
    </div>
     <div class="form-group">
      <input type="text" class="form-control" formControlName="currency" required="" placeholder="Currency">
      <span class="text-danger" *ngIf="stripeForm.get('currency').hasError('required') && submitted">Required</span>
    </div>
    <div class="form-group">
      <div id="card-element" class="field"></div>
    </div>
        <button class="btn w-25" type="submit">BUY</button>
</form>
</div>
 -->