$laptop: 1200px;
$mobile: 480px;
$tablet: 768px;


.front-class {
	opacity: 1;
	-webkit-background-size:  cover;
	background-size: cover;
	background-position: center top;
	flex: auto;
	width: 100%;
}

.fifth-class {
	/* top right bottom left */
	margin: 80px 0 0 0;
	align-items: center;
	align-content: center;
	text-align: center;
	.row {
		margin: 0 30px 10px 30px;
		.order_sum {
			/* top right bottom left */
			margin-bottom: 20px;
		
			.card {
				/* min-width: 300px; */
				h3 {
					text-align: center;
					font: normal normal bold 32px/40px Libre Baskerville;
					letter-spacing: 0px;
					color: #374B5C;
					opacity: 1;
				}
				p {
					text-align: center;
					font: normal normal normal 16px/26px Libre Baskerville;
					letter-spacing: 0px;
					color: #374B5C;
					opacity: 1;
				}

			}
		}
		.billing_info {
			margin: 0 30px 10px 30px;
			.form {
				.row {
					.col-sm {
						button {
							background: #00DBD0  0% 0% no-repeat padding-box;
							font: normal normal 600 18px/22px Libre Baskerville; 
							color: #FFFFFF;
						}
						label {
							float: left;
						}
					}
				}
/* 				button, btn{	
					background: #00DBD0 0% 0% no-repeat padding-box;
					border-radius: 10px;
					align-items: right;
					float: right;
					font: normal normal 600 14px/22px Libre Baskerville;
					letter-spacing: 0px;
					color: #FFFFFF;
					opacity: 1;
				} */

			}
		}
		.address-data {
			/* min-width: 300px; */

			h3 {
				text-align: center;
				font: normal normal bold 32px/40px Libre Baskerville;
				letter-spacing: 0px;
				color: #374B5C;
				opacity: 1;
			}
			p {
				text-align: left;
				font: normal normal normal 14px/20px Libre Baskerville;
				letter-spacing: 0px;
				color: #374B5C;
				opacity: 1;
			}
			.btn-group {
				margin:  15px;
				button {
					margin: 5px;
					text-align: center;
					font: normal normal normal 16px/20px Libre Baskerville;
				}
			}
			
		}
		.card-data {
			h3 {
				text-align: center;
				font: normal normal bold 32px/40px Libre Baskerville;
				letter-spacing: 0px;
				color: #374B5C;
				opacity: 1;
			}
			p {
				text-align: left;
				font: normal normal normal 14px/20px Libre Baskerville;
				letter-spacing: 0px;
				color: #374B5C;
				opacity: 1;
			}
			.btn-group {
				margin: 15px;
				button {
					margin: 5px;
					text-align: center;
					font: normal normal normal 16px/20px Libre Baskerville;
				}
			}
		}
	}

}	

@media screen and (max-width: $tablet) {

	.fifth-class {
		/* top right bottom left */
		margin: 80px 0 0 0;
		align-items: center;
		align-content: center;
		text-align: center;
		.row {
			.order_sum {
				margin: 0 15px 20px 15px;
			
				.card {
					/* min-width: 200px; */
					h3 {
						font: normal normal bold 26px/28px Libre Baskerville;
					}
					p {
						text-align: center;
						font: normal normal normal 16px/26px Libre Baskerville;
						letter-spacing: 0px;
						color: #374B5C;
						opacity: 1;
					}

				}
			}
			.billing_info {
				margin: 30px 40px 0 40px;
			}
			.address-data {
			/* min-width: 300px; */

			h3 {
			
				font: normal normal bold 26px/30px Libre Baskerville;
		
			}
			p {
			
				font: normal normal normal 12px/20px Libre Baskerville;
		
			}
			.btn-group {
				margin:  5px;
				button {
					margin: 5px;
					font: normal normal normal 12px/20px Libre Baskerville;
				}
			}
			
		}
		.card-data {
			h3 {
				
				font: normal normal bold 26px/30px Libre Baskerville;
				
			}
			p {
				font: normal normal normal 12px/20px Libre Baskerville;
				
			}
			.btn-group {
				margin: 5px;
				button {
					margin: 5px;
					font: normal normal normal 12px/20px Libre Baskerville;
				}
			}
		}
		}

	}
}

@media screen and (max-width: $mobile) {

	.fifth-class {
		/* top right bottom left */
		.row {
			.order_sum {
				margin: 0 10px 15px 10px;
			
				.card {
					/* min-width: 200px; */
				}
			}
			.billing_info {
				margin: 30px 50px 0 50px;
			}
		}

	}
}