
<div class="first-class">
<img alt="Group 196" class="right-side-img" src="./assets/Group 196.png">
<img alt="Group 228" class="left-side-img" src="./assets/Group 228.png">


<div class="middle-content ">
	<h3 >About us</h3>
<!-- 	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim<br>veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea<br>commodo consequat. </p>
	<p >Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore<br>eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,<br>sunt in culpa qui officia deserunt mollit anim id est laborum. </p> -->
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<img  alt="Group 114" src="./assets/Group 114.svg">
	<h3 >What we do</h3>
	<p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

</div>

<div class="second-content">
	<div class="row">
		<div class="col-sm card-data">
		<img  alt="Group 119" src="./assets/Group 119.svg">
		<h4 >Organic Food</h4>
		<p >Lorem ipsum dolor sit
			<br>amet, consectetur</p>
		</div>
		<div class="col-sm second-card-data ">
		 <img alt="Group 119" src="./assets/Group 119.png">
		 <h4 >Organic Food</h4>
		 <p>Lorem ipsum dolor sit
		 	<br>amet, consectetur</p>
		 </div>
		 <div class="col-sm card-data">
		 	<img alt="Group 119" src="./assets/Group 119.svg">
		 	<h4 >Organic Food</h4>
		 	<p>Lorem ipsum dolor sit
		 		<br >amet, consectetur</p>
		 </div>
		 <div class="col-sm card-data">
		 		<img alt="Group 119" src="./assets/Group 119.svg">
		 		<h4 >Organic Food</h4>
		 		<p >Lorem ipsum dolor sit.
		 			<br>amet, consectetur</p>
		 </div>
	</div>
</div>

