
<div class="first-class">
<img alt="Group 196" class="right-side-img" src="./assets/Group 196.png">
<img alt="Group 228" class="left-side-img" src="./assets/Group 228.png">
<div class="middle-content">
	<h3>Send us a message</h3>
	<p>Feel free to fill out the form and reach to us.<br>We will get back to you shortly.</p>
	<form>
		 <div class="form-group">
		 	<div class="row">
		 		<div class="col">
		 			<input type="text" class="form-control" id="first_name" aria-describedby="fnameHelp" placeholder="First Name">
		 		</div>
		 		<div class="col">
		 			<input type="text" class="form-control" id="last_name" aria-describedby="lnameHelp" placeholder="Last Name">
		 		</div>
			</div>
		</div>
		 <div class="form-group">
		 	<div class="row">
		 		<div class="col">
		 			<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
		 		</div>
		 		<div class="col">
		 			<input type="tel" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="Phone ">
		 		</div>
		 	</div>
		 </div>
		 <div class="form-group">
		 	<textarea class="form-control" id="msg" rows="3" placeholder="Message"></textarea>
		 </div>
		 <button class="btn btn-outline-light" >Submit</button>
	</form>
</div>
</div>