
<div class="first-class">
<img alt="Group 196" class="right-side-img" src="./assets/Group 196.png">
<img alt="Group 228" class="left-side-img" src="./assets/Group 228.png">
<div class="side-content">
	<h3>Send us a message</h3>
	<p>Feel free to fill out the form and reach to us.<br>We will get back to you shortly.</p>
	<input type="text" placeholder="First Name">
	<input type="text" placeholder="Last Name">
	<br>
	<input type="text" placeholder="Email">
	<input type="text" placeholder="Phone">
	<br>
	<textarea name="message" rows="3" cols="33" placeholder="Message"></textarea>
	<br>
	<button class="btn btn-outline-info">Submit</button>
</div>
</div>