$laptop: 1200px;
$mobile: 480px;
$tablet: 768px;


.front-class {
	opacity: 1;
	-webkit-background-size:  cover;
	background-size: cover;
	background-position: center top;
	flex: auto;
	width: 100%;
}

.fifth-class {
	/* top right bottom left */
	margin: 80px 0 0 0;
	align-items: center;
	align-content: center;
	text-align: center;
	.row {
		margin-right: 40px;
		margin-left: 40px;
	}
	h2 {
		margin-left: 20px;
		text-align: left;
		font: normal normal 600 28px/30px Libre Baskerville;
	}
	h5 {
		font: normal normal normal 16px/30px Libre Baskerville;
	}
	h6 {
		font: normal normal normal 16px/26px Libre Baskerville;
	}
	hr {
		margin: 0 15px 0 15px;
		/* border: 1px solid black; */
	}
	.item-content {
		/* top right bottom left */
		margin: 30px 0 20px 0;
		display: flex;
		flex-wrap:  wrap;

		img {
			margin: 10px;
			float: center;
			width: 120px;
			height: 150px;
		}
		.data {
			text-align: left;
		}
	}
	.summery-content {
		
		display: block;
	}
}
@media screen and (max-width: $tablet) {
	.fifth-class {
		h2 {
			font: normal normal 600 18px/24px Libre Baskerville;
		}
		h5 {
			font: normal normal normal 14px/30px Libre Baskerville;
		}
		h6 {
			font: normal normal normal 14px/30px Libre Baskerville;
		}
		.item-content {
			margin: 30px 0 0 0;
			img {
				float: center;
				width: 120px;
				height: 150px;
			}
			.data {
				margin-top: 20px;
				text-align: center;
			}
		}
		.summery-content {
			margin: 30px 30px 0 10px;
			display: block;
		}
	}
}

.quantity {
	float: center;
	width: 100px;
	white-space: nowrap;
	margin-bottom: 5px;
	.quantity-input {
		display: inline-block;
		input {
			margin: 5px;
			/* border-radius: 20%; */
			text-align: center;
			width: 50px;
			border-color: #00DBD0;
		}
	}
}