<div class="front-class">
	<div class="fifth-class">

		<div class="d-flex row">

			<div class="col-sm-7 ">
				<h2> Your Shopping Cart </h2>
				<br>
				<h5 style="text-align: left; margin-left: 20px;">1 ITEMS</h5>
				<hr>
				<div class="item-content row" *ngFor="let cart of cartData">

					<div class="col-sm-4" >
					<img src="{{cart.image_url}}" alt="">
					</div>

					<div class="data col-sm-6 justify-content-between">
						<p> Product ID: {{cart.product_id}}
						<h6> {{cart.p_name | titlecase}}</h6>

						<p class="mb-3 text-muted text-uppercase small">Quantity: {{cart.quantity}}</p>
						<div class="quantity">
						<!-- <div class="quantity-input">

							  <input #qua class="quantity" min="1" name="quantity" value="{{cart.quantity}}" type="number">
							  
						</div> -->
						</div>
					
						<button class="btn btn-info" (click)="Remove($event, cart.product_id)">Remove</button>
				
					</div>
					<div class="col-sm-2">
						<h6> Rs. {{cart.discount_price}}  </h6>
						<h6 style="color: #999999; text-decoration: line-through;">Rs. {{cart.price}} (1)</h6> 
					</div>
				</div>

				<hr>

			</div>

			<div class="col-sm-5 "><br>
				<h5>ORDER SUMMERY</h5>
				<hr>
				<div class="summery-content" >
						
							<ul class="list-unstyled" *ngFor="let cart of cartData">
							<li class="d-flex justify-content-between">
							<p style="" class="mb-3 text-muted text-uppercase small">{{cart.p_name | titlecase}} ( {{cart.quantity}} )</p>
							
							<p  style="" class="mb-3 text-muted text-uppercase small ">  {{cart.discount_price}}</p></li><hr>
							<hr>
						</ul>
						
					<hr>
					<p style="float: left;" class="mb-3 mt-2 text-muted text-uppercase small font-weight-bold">Total amount: </p>
					<p style="float: right;" class="mb-3 mt-2 text-muted text-uppercase small font-weight-bold"> Rs. {{Total}} </p>
					<br><br>
					<hr>
					<br>

					<button class="btn btn-success btn-dark" (click)="Checkout()">Proceed to Checkout</button>
				</div>
			</div>

		</div>
	</div>
</div>


