<div class="main-body">
  <div class="first-class">

    <div class="collapsible-menu">
      <input type="checkbox" id="menu">
      <label for="menu">
      <img class="collaspe-icon" src="../assets/collapse.png" alt="Group 86"></label>
      <div class="menu-content">
      <ul class="list-unstyled">

        <li><a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a class="nav-link" routerLink="/products" routerLinkActive="">Products</a></li>
      <li><a class="nav-link" routerLink="/blog" routerLinkActive="">Blog</a></li>
      <li><a class="nav-link" routerLink="/about" routerLinkActive="">About us</a></li>
      <button routerLink="/contact" routerLinkActive="" class="btn btn-outline-info">Contact</button>

      </ul>
      </div>
    </div>  

    <header>
      <nav>
        <div class="nav-area">
          <img class="logo-img" src="./assets/Group 247.png" alt="Group 247">
        </div>
      </nav>

      <ul class="nav-area-2 ml-auto list-unstyled">
      <li><a class="nav-link" routerLink="/home">Home</a></li>
      <li><a class="nav-link" routerLink="/products" routerLinkActive="">Products</a></li>
      <li><a class="nav-link" routerLink="/blog" routerLinkActive="">Blog</a></li>
      <li><a class="nav-link" routerLink="/about" routerLinkActive="">About us</a></li>
      <button routerLink="/contact" routerLinkActive="" class="btn btn-outline-info">Contact</button>
      </ul>
    </header>
  
    <router-outlet></router-outlet>



  <div class="sixth-class">
    <div class="row" >
      <div class="col-sm footer-data">
        <img src="./assets/Group 225.png" alt="Group 225">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing<br>elit, sed do eiusmod tempor</p>
        <hr class="line">
      </div>
      <div class="col-sm footer-data">
        <h4>Information</h4>
        <hr class="line">
        <ul class="list-unstyled">
          <li><a>About us</a></li>
          <li><a>Products</a></li>
          <li><a>Contact Us</a></li>
          <li><a>Terms of Service</a></li>
        </ul>
      </div>
      <div class="col-sm footer-data">
        <h4>Follow Us</h4>
        <hr class="line">
        <img class="icon" src="./assets/Group 99.svg" alt="">
        <img class="icon" src="./assets/Group 100.svg" alt="">
        <img class="icon" src="./assets/Group 104.svg" alt="">
        <img class="icon" src="./assets/Group 105.svg" alt="">
      </div>
    </div>
  </div>

 </div>

</div>


