<div class="front-class">

	<div class="container ">
		<div class="d-flex justify-content-center">

<div *ngIf="addressFlag">
	<div class="user_card card">
		<div class="card-header">

			<h4> Address Details </h4>
		</div>
		<div class="card-body justify-content-center">

			<form [formGroup]="addressForm" class="mb-5" (ngSubmit)="submitAddress()" >
				 
			     <div class="form-group">
			      <input type="text" class="form-control" formControlName="addr1" required placeholder="Address Line 1">
			     <div *ngIf="f.addr1.invalid && (f.addr1.dirty || f.addr1.touched)" class="alert alert-danger">
				<div *ngIf="f.addr1.invalid">Required</div></div>
			    </div>
			     <div class="form-group">
			      <input type="text" class="form-control" formControlName="addr2" required
			      placeholder="Address Line 2">
			      <div *ngIf="f.addr2.invalid && (f.addr2.dirty || f.addr2.touched)" class="alert alert-danger">
				<div *ngIf="f.addr2.invalid">Required</div></div>
			 
			    </div>
			     <div class="form-group">
		      <input type="text" class="form-control" formControlName="city" required="" placeholder="City">
		      <div *ngIf="f.city.invalid && (f.city.dirty || f.city.touched)" class="alert alert-danger">
				<div *ngIf="f.city.invalid">Required</div></div>
		     
		    </div>
		        <div class="form-group">
		      <input type="text" class="form-control" formControlName="state" required="" placeholder="State">
		      <div *ngIf="f.state.invalid && (f.state.dirty || f.state.touched)" class="alert alert-danger">
				<div *ngIf="f.state.invalid">Required</div></div>
		      
		    </div>
		        <div class="form-group">
		      <input type="text" class="form-control" formControlName="country" required="" placeholder="Country">
		      <div *ngIf="f.country.invalid && (f.country.dirty || f.country.touched)" class="alert alert-danger">
				<div *ngIf="f.country.invalid">Required</div></div>
		     
		    </div>
		        <div class="form-group">
		      <input type="number" class="form-control" formControlName="postal_code" required="" placeholder="Postal_code">
		      <div *ngIf="f.postal_code.invalid && (f.postal_code.dirty || f.postal_code.touched)" class="alert alert-danger">
				<div *ngIf="f.postal_code.invalid">Required</div></div>
		      
		    </div>
		        <div class="form-group">
		      <input type="phone" class="form-control" formControlName="phone" required="" placeholder="Phone">
		      <div *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)" class="alert alert-danger">
				<div *ngIf="f.phone.invalid">Required</div></div>
		     
		    </div>
				
		 			<button class="btn w-25 btn-primary" type="submit">Submit</button>

		 			<!--  [disabled]="!addressForm.valid" -->
		  
			</form>
			<br>
		</div>
	</div>
</div>
<!-- <div id="card-element" class="field"></div> -->
  

<div *ngIf="cardFlag">
		<div class="user_card card">
			<div class="card-header">
				<h4> Payment Card Details </h4>
			</div>
			<div class="card-body justify-content-center">
				<form [formGroup]="cardDetailsForm" class="mb-5" (ngSubmit)="submitCard()" >
				 
			     <div class="form-group">
			      <input type="text" class="form-control" formControlName="name" required placeholder="Name">
			     <div *ngIf="c.name.invalid && (c.name.dirty || c.name.touched)" class="alert alert-danger">
				<div *ngIf="c.name.invalid">Required</div></div>
			    </div>

			     <div class="form-group">
			      <input type="text" class="form-control" formControlName="cardnumber" required
			      placeholder="Card Number">
			      <div *ngIf="c.cardnumber.invalid && (c.cardnumber.dirty || c.cardnumber.touched)" class="alert alert-danger">
				<div *ngIf="c.cardnumber.invalid">must be 16 digits</div></div>
			    </div>

			     <div class="form-group">
		      <input type="text" class="form-control" formControlName="cvv" required="" placeholder="CVV">
		      <div *ngIf="c.cvv.invalid && (c.cvv.dirty || c.cvv.touched)" class="alert alert-danger">
				<div *ngIf="c.cvv.invalid">must be 3 digits</div></div>
		    </div>

		        <div class="form-group">
		      <input type="month" class="form-control" formControlName="exdate" required="" placeholder="State">
		      <div *ngIf="c.exdate.invalid && (c.exdate.dirty || c.exdate.touched)" class="alert alert-danger">
				<div *ngIf="c.exdate.invalid">Required</div></div>
		    </div>

		 	<button class="btn w-25 btn-primary" [disabled]="!cardDetailsForm.valid" type="submit">Submit</button>
		  
			</form>
				<br>
			</div>
		</div>
</div>

		</div>
	</div>
</div>

