$laptop: 1200px;
$mobile: 480px;
$tablet: 768px;


.front-class {
	opacity: 1;
	-webkit-background-size:  cover;
	background-size: cover;
	background-position: center top;
	flex: auto;
	width: 100%;
}

.left-side-img {
    
    opacity: 1;
    width: 300px;
    height: 350px;
    float: left;
    margin-top: 150px;
    object-fit: cover;
    object-position: 220% 110%;
    margin-right: -300px;
}
@media screen and (max-width: $tablet) {
	.left-side-img {
		width: 200px;
		height: 250px;
	}
}
@media screen and (max-width: $mobile) {
	.left-side-img {
		display: none;
	}
} 
.right-side-img {
    z-index: 3;
    opacity: 1;
    width: 400px;
    height: 550px;
    float: right;
    margin-top: 80px;
    margin-bottom: -400px;
    margin-left: -300px; 
    object-fit: cover;
    object-position: -130% 0%;
}
@media screen and (max-width: $tablet) {
	.right-side-img {
		width: 250px;
		height: 350px;
	}
}
@media screen and (max-width: $mobile) {
	.right-side-img {
		/* width: 150px;
		height: 200px; */
		display: none;
	}
}

.product-info {
	margin:  100px 15% 0 15%;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	img {

		max-width: 300px;
		max-height: 300px;
		float: center;
	}
	.info-data {
		float: center;
		h3 {
			text-align: left;
			font: normal normal bold 28px/40px Libre Baskerville;
			letter-spacing: 0px;
			color: #374B5C;
			opacity: 1;
		}
		.price {
			display: flex;
			h4 {
				
				float: left;
				font: normal normal bold 16px/30px Libre Baskerville;
				letter-spacing: 0px;
				color: #374B5C;
				opacity: 1;
			}
			h5 {
				/* text-align: right; */
				/* float: right; */
				margin-left: 15px;
				font: normal normal bold 14px/30px Libre Baskerville;
				letter-spacing: 0px;
				color: #999999;
				opacity: 1;
				text-decoration: line-through;
			}
		}
		p {
			text-align: left;
			font: normal normal normal 16px/30px Libre Baskerville;
			letter-spacing: 0px;
			color: #374B5C;
			opacity: 1;
		}
		.quantity {
			width: 100px;
			white-space: nowrap;
			.quantity-input {
				display: inline-block;

				button {
					margin: 5px;
					/* border-radius: 40%; */
					width: 40px;
					border-color: #00DBD0;
				}
				input {
					margin: 5px;
					/* border-radius: 20%; */
					text-align: center;
					width: 60px;
					border-color: #00DBD0;
				}
			}
			
			form {
				margin-top: 10px;
				input {
					margin-left: 10px;				
					border-radius: 20%;
					border-color: #00DBD0;
				}
				label {
					font: normal normal normal 16px/30px Libre Baskerville
				}
				button, btn {
					margin-right: 10px;
					margin-top: 20px;
					border-radius: 10px;
					border-color: #00DBD0;
					font: normal normal normal 16px/20px Libre Baskerville;
					letter-spacing: 0px;
					color: #00DBD0;
					opacity: 1;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.product-info {
		/* margin:  100px 10% 0 10%; */
		img {
			width: 200px;
			height: 200px;
		}
		.info-data {
			/* margin-top: 30px; */
			float: center;
			align-content: center;
			align-items: center;
			justify-content: center;
			text-align: center;
			h3 {
				text-align: left;
				font: normal normal bold 26px/32px Libre Baskerville;
			}
			.price {
				display: flex;
				h4 {
					float: left;
					font: normal normal bold 14px/22px Libre Baskerville;
			
				}
				h5 {
					margin-left: 10px;
					font: normal normal bold 12px/20px Libre Baskerville;
				}
			}
			p {
				text-align: left;
				font: normal normal normal 12px/20px Libre Baskerville;
			}
			.quantity {
				form {
					button, btn {
						text-align: center;
						margin-top: 20px;
						border-radius: 10px;
					}
					label {
						font: normal normal normal 14px/30px Libre Baskerville
					}
				}
			}
		}
	}
}

@media screen and (max-width: 580px) {
	.product-info {
		margin:  100px 10% 0 10%;
		img {
			width: 150px;
			height: 150px;
		}
		.info-data {
			margin-top: 30px;
			float: center;
			align-content: center;
			align-items: center;
			justify-content: center;
			text-align: center;
			h3 {
				text-align: center;
				font: normal normal bold 24px/32px Libre Baskerville;
			}
			p {
				text-align: center;
				font: normal normal normal 12px/20px Libre Baskerville;
			}
			.price {
				margin-left: 30%;
				h4 {
					font: normal normal bold 14px/22px Libre Baskerville;
			
				}
				h5 {
					margin-left: 10px;
					font: normal normal bold 12px/20px Libre Baskerville;
				}
			}
			.quantity {
				text-align: center;
				align-items: center;
				justify-content: center;
				align-content: center;
				margin-left: 25%;
				margin-right: 25%;
				form {
					input {
						width: 60px;
					}
					button, btn {
						margin-top: 20px;
						border-radius: 10px;
					}
					label {
						font: normal normal normal 14px/30px Libre Baskerville
					}

				}
			}
		}
	}
}



.card {
	.card-header {
		button {
			float: right;
		}
	}
	ul {
		list-style-type: none;
		padding: 0;
		border: 0px solid #ddd;
		li {
			border-bottom: 0px solid #ddd;
		}
		.star {
			padding: 2px;
		}
 	}
}