
<div class="fifth-class">

<nav class="navbar navbar-light bg-light">
       <button class="btn btn-outline-success my-2 my-sm-0" type="checkbox">Search</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="checkbox">Search</button>
  <form class="form-inline ml-auto">
    
    <input class="form-control " type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

    <div class="heading-class">
      <h3>Products</h3>
      <p>Feel free to fill out the form and reach to us.<br>We will get back to you shortly.</p>
    </div>
    <div class="card-class">
      <div class="row">
        <div class="col-sm card-data">
          <img src="./assets/Mask Group 61.png" alt="Mask Group 61">
          <h4>Product One</h4>
          <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit,<br>sed do eiusmod.</p>
          <button class="btn btn-outline-light">Order Now</button>
          
        </div>
        <div class="col-sm card-data">
          <img src="./assets/Mask Group 62.png" alt="Mask Group 62">
          <h4>Product Two</h4>
          <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit,<br>sed do eiusmod.</p>
          <button class="btn btn-outline-light">Order Now</button>
          
        </div>
        <div class="col-sm card-data">
          <img src="./assets/Mask Group 63.png" alt="Mask Group 63">
          <h4>Product Three</h4>
          <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit,<br>sed do eiusmod.</p>
          <button class="btn btn-outline-light">Order Now</button>
          
        </div>
      </div>
    </div>

        <div class="card-class">
      <div class="row">
        <div class="col-sm card-data">
          <img src="./assets/Mask Group 61.png" alt="Mask Group 61">
          <h4>Product One</h4>
          <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit,<br>sed do eiusmod.</p>
          <button class="btn btn-outline-light">Order Now</button>
          
        </div>
        <div class="col-sm card-data">
          <img src="./assets/Mask Group 62.png" alt="Mask Group 62">
          <h4>Product Two</h4>
          <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit,<br>sed do eiusmod.</p>
          <button class="btn btn-outline-light">Order Now</button>
          
        </div>
        <div class="col-sm card-data">
          <img src="./assets/Mask Group 63.png" alt="Mask Group 63">
          <h4>Product Three</h4>
          <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit,<br>sed do eiusmod.</p>
          <button class="btn btn-outline-light">Order Now</button>
          
        </div>
      </div>
    </div>

  </div> 
