


<div class="fifth-class">

<nav class="navbar navbar-expand-lg navbar-light ">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <div class="form-group">
        <select class="custom-select" 
         (change)="onCategorySelected($event)">
          <option selected>Category </option>
          <option *ngFor="let cat of category_data" [value]="cat.cat_name">
                  {{cat.cat_name | titlecase}} </option>
        </select>
        </div>
      </li>

      <li class="nav-item dropdown">
        <div class="form-group">
        <select class="custom-select" 
         (change)="onPriceSelected($event)">
          <option selected>Price </option>
          <option *ngFor="let price of priceList" [value]="price.range">
                  {{price.range}} </option>
        </select>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    <div class="heading-class">
      <h3>Products</h3>
      <p>Feel free to fill out the form and reach to us.<br>We will get back to you shortly.</p>
    </div>

    <div class="card-class">
      <div class="row">

      <div class="col-sm card-data" *ngFor="let item of pageOfItems"> 
          <div *ngIf="dataDefined"> 
          <a routerLink="/product_info/{{item.dataa.id}}" >
          <img class="card_img" src="{{item.dataa.image_url}}" alt="Mask Group 62">
          <h4>{{item.dataa.p_name}}</h4>
          <p>{{item.dataa.description}}</p>
          <div class="price"><p>Rs. {{item.dataa.discount_price}}</p>
          <p class="real-price" style="text-decoration: line-through;">Rs. {{item.dataa.price}}</p>
          </div> 
        </a>
          <div class="card-footer">
            <form >  <!-- [formGroup]="productForm"> -->
                      <div class="quantity-input">
                <!-- <button style="float: left;" type="button" class="btn btn-light btn-class" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" (click)="onQuantity($event)">
                  <b>-</b></button>
                <input #quant style="float: center;" class="quantity" min="1" name="quantity" value="1" type="number" formControlName="quantity">
                <button style="float: right;" type="button" class="btn btn-light btn-class" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" (click)="onQuantity($event)">
                  <b> + </b></button> --></div>

                  <div class="quantity-input">
               <!--  <button type="button" class="btn btn-light" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" (click)="Submit()">
                  <b>-</b></button> -->

                <input [ngModel]="name" (ngModelChange)="valueChange($event)" 
                style="float: center;" class="quantity" min="1" name="quantity" value="1" type="number">
                <!-- <button  type="button" class="btn btn-light" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" (click)="Submit()">
                  <b>+</b></button> -->
      


            </div>
         <a (click)="Cart(item.dataa.id)"><img class="cart-img" src="./assets/cart.png"  alt="cart"></a>
       </form>

     </div>
        </div>
      </div>

      

      </div>
    </div>

  </div> 


<!--               <div *ngFor="let item of pageOfItems">
          <p *ngIf="check" > {{item.dataa.discount_price}} </p>
          </div> -->
<app-product-pagination [catName]="catName" (changePage)="onChangePage($event)" ></app-product-pagination>




