$laptop: 1200px;
$mobile: 480px;
$tablet: 768px;

/* panel,
.panel-body {
  box-shadow: none;
} */

/* .sidenav {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: 200px;
	height: 100%;
	width: 170px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: white;
	overflow-x: hidden;
	padding-top: 20px;
} */

.panel-group .panel-heading {
  padding: 0;
}

.panel-group .panel-heading a {
  display: block;
 /*  padding: 10px 10px; */
  text-decoration: none;
  position: relative;
}

.panel-group .panel-heading a:after {
  content: '-';
  float: right;
}

.panel-group .panel-heading a.collapsed:after {
  content: '+';
}



.front-class {
	background: transparent url('/app/assets/Rectangle 1.png') 0% 0% no-repeat;
	width: 100%;
	height: 50vh;
	opacity: 1;
}
.fifth-class {
	/* top right bottom left */
	margin: 80px 0 0 0;
/* 	margin-left: 15%;
	margin-right: 15%; */
	align-items: center;
	align-content: center;
	text-align: center;
/* 	.sidenav {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-top: 200px;
		height: 100%;
		width: 180px;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: white;
		overflow-x: hidden;
		padding-top: 20px;
	} */
	.navbar {
		margin-left: 10%;
		margin-right: 10%;
	}
	li {
		margin:  5px;
	}

	panel {
		.panel-heading {
			h4 {
				font: normal normal normal 16px/20px Libre Baskerville;
			}
		}
		.panel-collapse {
			.panel-body {
				ul{
					li {
						label {
							font: normal normal normal 12px/20px Libre Baskerville;
						}
					}
				}
			}
		}
	}

	.heading-class {
/* 		margin-left: 15%;
		margin-right: 15%;
 */		text-align: center;
		align-items: center;
		align-content: center;
		h3 {
			text-align: center;
			font: normal normal bold 32px/40px Libre Baskerville;
			letter-spacing: 0px;
			color: #374B5C;
			opacity: 1;
		}
		p {
			text-align: center;
			font: normal normal normal 16px/26px Libre Baskerville;
			letter-spacing: 0px;
			color: #374B5C;
			opacity: 1;
		}
	}
	.card-class {
		margin-left: 15%;
		margin-right: 15%;
		align-items:  center;
		margin-top: 30px;
	
			.card-data {
				margin: 15px;
				/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 */
				.card_head {
					height: 30px;
					margin-bottom: 5px;
					h6 {
						float: left;
						margin-left: 30px;
					}
					.like-img {
						margin-right: 30px;
						float: right;
						width: 30px;
						height: 30px;
					}
				}

				.card_img {
					margin-top: 5px;
					width: 180px;
					height: 130px;
				}

				h4 {
					margin-top: 10px;
					text-align: center;
					font: normal normal normal 18px/22px Libre Baskerville;
					letter-spacing: 0px;
					color: #00DBD0;
					opacity: 1;
				}
				p {
					/* margin-top: 5px; */
					text-align: center;
					font: normal normal normal 14px/12px Libre Baskerville;
					letter-spacing: 0px;
					color: #374B5C;
					opacity: 1;
				}
				.price {
					display: flex;
					text-align: center;
					justify-content: center;
					p {
						font: normal normal 600 13px/12px Libre Baskerville;
						letter-spacing: 0px;
						color: #374B5C;
					}
					.real-price {
						margin-left: 15px;
						text-decoration: line-through;
					}
				}
				button {
					margin-bottom: 10px;
					text-align: center;
					font: normal normal normal 14px/18px Libre Baskerville;
					letter-spacing: 0px;
					color: #374B5C;
					opacity: 1;
					border-radius: 12px;
					border: 2px solid #00DBD0;
				}
				.card-footer {
					height: 40px;
					.cart-img {
						width: 20px;
						height: 20px;
						float: right;
						margin-bottom: 10px;
						/* margin-right: 25%;
						margin-bottom: 10px; */
					}
					.star {
						float: left;
						width: 20px;
						height: 20px;
						opacity: 1;
						padding:  3px;
					}
					input {
						float: left;
						border-radius: 20%;
						height: 25px;
					}
					.quantity-input {
						display: inline-block;
						float: left;

						.btn-class {
							
							border-radius: 10%;
						/* 	width:30px; */
							height: 30px; 
							/* border-color: #00DBD0; */
							font: normal normal bold 20px/2px Libre Baskerville;
							text-align: center;
							border: 1px solid #efefef;
						}
						input {
							height: 25px;
							width: 50px;
							text-align: center;
							border: 1px solid #00DBD0; /* #efefef;
							/* border-color: #00DBD0; */
						}
					}

				}
			}
		
	}
}
@media screen and (max-width: $tablet) {
	.fifth-class {
		margin-top: 100px;
		margin-left: 8%;
		margin-right: 8%;
		.heading-class {
			h3 {
				font: normal normal bold 28px/40px Libre Baskerville;
			}
			p {
				font: normal normal normal 14px/26px Libre Baskerville;
			}
		}
		.card-class {
			.card-data {
				img {
					width: 140px;
					height: 110px;
				}
				h4 {
					font: normal normal normal 14px/22px Libre Baskerville;
				}
				p {
					font: normal normal normal 12px/14px Libre Baskerville;
				}
				a {
					font: normal normal normal 12px/14px Libre Baskerville;
				}
			}

		}
	}
}





.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}