
<div class="first-class">
<img class="side-img" src="./assets/Group 248.png">
<div class="side-content">
	<h3>Healthy life with</h3>
	<h2>Nature Organic</h2>
	<p>Vegetables are the edible parts of a plant<br>that is used in cooking or can be eaten now.</p>
	<button class="border-0 btn btn-outline-info">Explore Now
	</button>
</div>
</div>


 <div class="second-class">
    <div class="heading-class">
      <img src="./assets/Group 114.svg" alt="Group 114">
      <h2>Welcome to Nature</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="card-class">
      <div class="row">
        <div class="col-sm card-data">
          <img src="./assets/Group 119.svg" alt="Group 119">
          <h4>Organic Food</h4>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
        </div>
        <div class="col-sm col-sm-second card-data-second">
          <img src="./assets/Group 119.png" alt="Group 119">
          <h4>Organic Food</h4>
          <p>Lorem ipsum dolor sit amet, consectetur</p>
        </div>
        <div class="col-sm card-data">
          <img src="./assets/Group 119.svg" alt="Group 119">
           <h4>Organic Food</h4>
           <p>Lorem ipsum dolor sit amet, consectetur</p>
        </div>
        <div class="col-sm card-data">
          <img src="./assets/Group 119.svg" alt="Group 119">
           <h4>Organic Food</h4>
           <p>Lorem ipsum dolor sit amet, consectetur</p>
        </div>
      </div>
    </div>
  </div>


<div class="third-class">

	<div class="heading-class">
      <h2>Proudly presented by</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et dolore magna aliqua.</p>
    </div>

<div id="silderImg" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" style="margin-bottom: -70px;">
    <li data-target="#silderImg" data-slide-to="0" class="active"></li>
    <li data-target="#silderImg" data-slide-to="1"></li>
    <li data-target="#silderImg" data-slide-to="2"></li>
    <li data-target="#silderImg" data-slide-to="3"></li>
  </ol>
  
  <div class="carousel-inner">

    <div class="carousel-item active">
		<div class="img-class">
	      <div class="row">
	        <div class="col-sm">
	          <img src="./assets/Group 39.png" alt="Group 39">
	        </div>
	        <div class="col-sm">
	          <img src="./assets/Group 64.png" alt="Group 64">
	        </div>
	        <div class="col-sm ">
	          <img class="middle-img" src="./assets/Group 55.png" alt="Group 55">
	        </div>
	        <div class="col-sm">
	          <img src="./assets/Group 64.png" alt="Group 64">
	        </div>
	        <div class="col-sm">
	          <img src="./assets/Group 39.png" alt="Group 39">
	        </div>
	      </div>
		</div>
    </div>

    <div class="carousel-item ">
		<div class="img-class">
	      <div class="row">
	        <div class="col-sm">
	          <img src="./assets/Group 39.png" alt="Group 39">
	        </div>
	        <div class="col-sm">
	          <img src="./assets/Group 64.png" alt="Group 64">
	        </div>
	        <div class="col-sm ">
	          <img class="middle-img" src="./assets/Group 55.png" alt="Group 55">
	        </div>
	        <div class="col-sm">
	          <img src="./assets/Group 64.png" alt="Group 64">
	        </div>
	        <div class="col-sm">
	          <img src="./assets/Group 39.png" alt="Group 39">
	        </div>
	      </div>
		</div>
    </div>

    <div class="carousel-item ">
		<div class="img-class">
	      <div class="row">
	        <div class="col-sm">
	          <img src="./assets/Group 39.png" alt="Group 39">
	        </div>
	        <div class="col-sm">
	          <img src="./assets/Group 64.png" alt="Group 64">
	        </div>
	        <div class="col-sm ">
	          <img class="middle-img" src="./assets/Group 55.png" alt="Group 55">
	        </div>
	        <div class="col-sm">
	          <img src="./assets/Group 64.png" alt="Group 64">
	        </div>
	        <div class="col-sm">
	          <img src="./assets/Group 39.png" alt="Group 39">
	        </div>
	      </div>
		</div>
    </div>

    <div class="carousel-item ">
		<div class="img-class">
	      <div class="row">
	        <div class="col-sm">
	          <img src="./assets/Group 39.png" alt="Group 39">
	        </div>
	        <div class="col-sm">
	          <img src="./assets/Group 64.png" alt="Group 64">
	        </div>
	        <div class="col-sm ">
	          <img class="middle-img" src="./assets/Group 55.png" alt="Group 55">
	        </div>
	        <div class="col-sm">
	          <img src="./assets/Group 64.png" alt="Group 64">
	        </div>
	        <div class="col-sm">
	          <img src="./assets/Group 39.png" alt="Group 39">
	        </div>
	      </div>
		</div>
    </div>

  </div>
</div>
</div>



  <div class="forth-class">
    <img class="right-side-img" src="./assets/Group 196.png" alt="Group 196">
    <img class="left-side-img" src="./assets/Group 249.png" alt="Group 249">
    
	<div id="silderImg1" class="carousel slide" data-ride="carousel">

	  <ol class="carousel-indicators" style="margin-bottom: -70px;">
	    <li data-target="#silderImg1" data-slide-to="0" class="active"></li>
	    <li data-target="#silderImg1" data-slide-to="1"></li>
	    <li data-target="#silderImg1" data-slide-to="2"></li>
	    <li data-target="#silderImg1" data-slide-to="3"></li>
	  </ol>
	  <div class="carousel-inner">

	    <div class="carousel-item active">
	    	<div class="middle-class">
	    	  <div class="data">
		    	  <img class="inverted-coma" src="./assets/Group 86.svg" alt="">
			      <br>
			      <img class="mask-img" src="./assets/Mask Group 1.png" alt="">
			      <br>
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <h3>Jane Doe</h3>
			      <p>Thank you for all the amazing produce and products you deliver each week… you make my life so easy an bring goodness into our family eating.I’ve been roasting a lot of brussel sprouts and</p>
	   		  </div>
	    	</div>
	    </div>

	    <div class="carousel-item">
	    	<div class="middle-class">
	    	  <div class="data">
		    	  <img class="inverted-coma" src="./assets/Group 86.svg" alt="">
			      <br>
			      <img class="mask-img" src="./assets/Mask Group 1.png" alt="">
			      <br>
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <h3>Jane Doe</h3>
			      <p>Thank you for all the amazing produce and products you deliver each week… you make my life so easy an bring goodness into our family eating.I’ve been roasting a lot of brussel sprouts and</p>
	   		  </div>
	    	</div>
	    </div>

	    <div class="carousel-item">
	    	<div class="middle-class">
	    	  <div class="data">
		    	  <img class="inverted-coma" src="./assets/Group 86.svg" alt="">
			      <br>
			      <img class="mask-img" src="./assets/Mask Group 1.png" alt="">
			      <br>
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <h3>Jane Doe</h3>
			      <p>Thank you for all the amazing produce and products you deliver each week… you make my life so easy an bring goodness into our family eating.I’ve been roasting a lot of brussel sprouts and</p>
	   		  </div>
	    	</div>
	    </div>

	    <div class="carousel-item">
	    	<div class="middle-class">
	    	  <div class="data">
		    	  <img class="inverted-coma" src="./assets/Group 86.svg" alt="">
			      <br>
			      <img class="mask-img" src="./assets/Mask Group 1.png" alt="">
			      <br>
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <img class="star" src="./assets/Group 83.svg" alt="">
			      <h3>Jane Doe</h3>
			      <p>Thank you for all the amazing produce and products you deliver each week… you make my life so easy an bring goodness into our family eating.I’ve been roasting a lot of brussel sprouts and</p>
	   		  </div>
	    	</div>
	    </div>
	</div>
	</div>


	

   
    <div class="subscribe-class">
      <div style="margin-top: 40px;">
      <h3>Subscribe to Our Newsletter</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et dolore magna aliqua.</p>
      	<form class="input_c">
			<div class="input-group col-sm ">
				<input type="email" class="form-control input-sm" placeholder="Enter your email address" id="email" aria-describedby="emailHelp">
				<div class="input-group-append">
					<button class="btn btn-outline-light" type="button">Subscribe</button>
				</div>
			</div>
		</form>
		<!-- <div class="input_container">
		<input type="text" class="form-control"
		placeholder=" Enter your email address" value>
		<button class="sub_btn btn btn-outline-light text" >Subscribe</button>
		</div> -->

    </div>
  </div>


  <div class="fifth-class">

    <div class="heading-class">
      <img src="./assets/Group 115.svg" alt="Group 115">
      <h3>Read Our Blog</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="card-class">
      <div class="row">
        <div class="col-sm card-data">
          <img src="./assets/Mask Group 61.png" alt="Mask Group 61">
          <h4>Blog Post One</h4>
          <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit, sed do eiusmod.</p>
          <a href="">Read More</a>
          <hr class="line">
        </div>
        <div class="col-sm card-data">
          <img src="./assets/Mask Group 62.png" alt="Mask Group 62">
          <h4>Blog Post One</h4>
          <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit, sed do eiusmod.</p>
          <a href="">Read More</a>
          <hr class="line">
        </div>
        <div class="col-sm card-data">
          <img src="./assets/Mask Group 63.png" alt="Mask Group 63">
          <h4>Blog Post One</h4>
          <p>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit, sed do eiusmod.</p>
          <a href="">Read More</a>
          <hr class="line">
        </div>
      </div>
    </div>

  </div> 

